---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
>
  <main>
    <div class="mb-4 space-y-2 text-center">
      <h1 class="text-4xl">
        {post.data.title}
      </h1>
      <p class="text-sm">
        {formatDate(post.data.date)}
      </p>
      <hr />
    </div>
    <article class="prose md:prose-lg lg:prose-xl dark:prose-invert">
      <Content />
    </article>
  </main>
</Layout>
